@import "tailwindcss";

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.gold-stroke {
  color: white;
  -webkit-text-stroke: 1px #cfc08f;
}

.button {
  background-color: #1d9b0c;
  color: #fff;
}
body{
  background-color: #000000;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
